$icons-font-path: "/assets/material-design-icons/";

@import "materialize";

body {
  background-color: #fcfcfc;
  padding: 50px;
}

.messages {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  height: 100%;
}

.message {
  &-time { color: color("grey", "base"); }
  &-author { color: color("light-blue", "darken-2"); }
}

.textarea {
  position: fixed;
  width: calc(100% - 100px);
  bottom: 20px;
}
