<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/assets/app.css">
  </head>
  <body>
    <script src="/assets/app.js"></script>
  </body>
</html>
