<div class="modal-content">
  <input placeholder="Your name" type="text" id="name">
</div>
<div class="modal-footer">
  <a href="#!" class="modal-action waves-effect waves-green btn-flat">Join</a>
</div>
