$icons-font-path: "/assets/material-design-icons/";

@import "materialize";

html, body, #app, .messenger {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fcfcfc;
  padding: 50px;
}

.messages {
  background-color: white;
  padding: 20px;
  height: calc(100% - 100px);
  min-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}

.message {
  &-time { color: color("grey", "base"); }
  &-author { color: color("light-blue", "darken-2"); }
}
